In [82]:
import numpy as np
import pandas as pd

In [83]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

In [84]:
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')

C:\Users\Nithin\AppData\Local\Temp\ipykernel_13868\2285880890.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [155]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [156]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [157]:
print(books.shape)
print(ratings.shape)

(271354, 8)
(1149780, 3)

In [158]:
print(books.columns)
print(ratings.columns)

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')
Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [159]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271354 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271354 non-null  object
 1   Book-Title           271354 non-null  object
 2   Book-Author          271354 non-null  object
 3   Year-Of-Publication  271354 non-null  int32
 4   Publisher            271354 non-null  object
 5   Image-URL-S          271354 non-null  object
 6   Image-URL-M          271354 non-null  object
 7   Image-URL-L          271354 non-null  object
dtypes: int32(1), object(7)
memory usage: 17.6+ MB

In [160]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [161]:
books.dropna(inplace=True)

In [162]:
books.shape

(271354, 8)

In [163]:
books.duplicated().sum()

0

In [164]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [165]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [166]:
ratings.duplicated().sum()

0

In [167]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [168]:
books['Book-Title'].value_counts()

Selected Poems                                                                                                                    27
Little Women                                                                                                                      24
Wuthering Heights                                                                                                                 21
Dracula                                                                                                                           20
The Secret Garden                                                                                                                 20
                                                                                                                                  ..
On a Clear Day You Can See General Motors: John Z. De Lorean's Look Inside the Automotive Giant                                    1
What Every Kid Should Know                                                                                                         1
The Seventh Enemy (A Brady Coyne Mystery)                                                                                          1
A Brace of Skeet                                                                                                                   1
A Guided Tour of Rene Descartes' Meditations on First Philosophy with Complete Translations of the Meditations by Ronald Rubin     1
Name: Book-Title, Length: 242130, dtype: int64

In [169]:
books['Book-Author'].value_counts()

Agatha Christie         632
William Shakespeare     567
Stephen King            524
Ann M. Martin           423
Carolyn Keene           373
                       ...
R. Gelman                 1
Ellery R. Sheets          1
Artiste C. Arthur         1
Emily Pearl Kingsley      1
Christopher  Biffle       1
Name: Book-Author, Length: 102020, dtype: int64

In [170]:
books['Year-Of-Publication'] = books['Year-Of-Publication'].astype(int)

In [171]:
books['Year-Of-Publication'].value_counts().sort_index() #year of 4618 books is 0

0       4618
1376       1
1378       1
1806       1
1897       1
        ...
2026       1
2030       7
2037       1
2038       1
2050       2
Name: Year-Of-Publication, Length: 116, dtype: int64

In [172]:
books['Publisher'].value_counts() #16803 publishers

Harlequin                        7535
Silhouette                       4220
Pocket                           3905
Ballantine Books                 3783
Bantam Books                     3646
                                 ...
Windstream Publishing Company       1
Polaris Books                       1
Hannover House                      1
Amber Quill Press, LLC.             1
Connaught                           1
Name: Publisher, Length: 16803, dtype: int64

In [173]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [174]:
ratings['ISBN'].value_counts()

0971880107     2502
0316666343     1295
0385504209      883
0060928336      732
0312195516      723
               ...
1568656386        1
1568656408        1
1569551553        1
1570081808        1
05162443314       1
Name: ISBN, Length: 340556, dtype: int64

In [175]:
#mergeing 2 datasets on "ISBN"

merge_df = books.merge(ratings,on='ISBN')

In [176]:
merge_df.shape

(1031129, 10)

In [177]:
merge_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [178]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031129 entries, 0 to 1031128
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031129 non-null  object
 1   Book-Title           1031129 non-null  object
 2   Book-Author          1031129 non-null  object
 3   Year-Of-Publication  1031129 non-null  int32
 4   Publisher            1031129 non-null  object
 5   Image-URL-S          1031129 non-null  object
 6   Image-URL-M          1031129 non-null  object
 7   Image-URL-L          1031129 non-null  object
 8   User-ID              1031129 non-null  int64
 9   Book-Rating          1031129 non-null  int64
dtypes: int32(1), int64(2), object(7)
memory usage: 82.6+ MB

## Popularity based recommendation

In [218]:
df = merge_df.drop(columns=['ISBN','Year-Of-Publication','Image-URL-S','Image-URL-L','User-ID'])

In [219]:
df.head()

,Book-Title,Book-Author,Publisher,Image-URL-M,Book-Rating
0,Classical Mythology,Mark P. O. Morford,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,0
1,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,5
2,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,0
3,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8
4,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,0

In [220]:
df.groupby('Book-Title').count()

,Book-Author,Publisher,Image-URL-M,Book-Rating
Book-Title,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4
Always Have Popsicles,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1
...,...,...,...,...
Ãƒ?Ã‚?lpiraten.,2,2,2,2
Ãƒ?Ã‚?rger mit Produkt X. Roman.,4,4,4,4
Ãƒ?Ã‚?sterlich leben.,1,1,1,1
Ãƒ?Ã‚?stlich der Berge.,3,3,3,3
Ãƒ?Ã‚?thique en toc,2,2,2,2

In [221]:
df.groupby('Book-Title').count()['Book-Rating']

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
                                                                                                             ..
Ãƒ?Ã‚?lpiraten.                                                                                                 2
Ãƒ?Ã‚?rger mit Produkt X. Roman.                                                                                4
Ãƒ?Ã‚?sterlich leben.                                                                                           1
Ãƒ?Ã‚?stlich der Berge.                                                                                         3
Ãƒ?Ã‚?thique en toc                                                                                             2
Name: Book-Rating, Length: 241066, dtype: int64

In [222]:
df.groupby('Book-Title').count()['Book-Rating'].reset_index()

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241061                                      Ãƒ?Ã‚?lpiraten.            2
241062                     Ãƒ?Ã‚?rger mit Produkt X. Roman.            4
241063                                Ãƒ?Ã‚?sterlich leben.            1
241064                              Ãƒ?Ã‚?stlich der Berge.            3
241065                                  Ãƒ?Ã‚?thique en toc            2

[241066 rows x 2 columns]

In [223]:
num_of_rating_df = df.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [224]:
num_of_rating_df.rename(columns={'Book-Rating':'no.of.ratings'},inplace=True)

In [225]:
num_of_rating_df

                                               Book-Title  no.of.ratings
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
241061                                      Ãƒ?Ã‚?lpiraten.              2
241062                     Ãƒ?Ã‚?rger mit Produkt X. Roman.              4
241063                                Ãƒ?Ã‚?sterlich leben.              1
241064                              Ãƒ?Ã‚?stlich der Berge.              3
241065                                  Ãƒ?Ã‚?thique en toc              2

[241066 rows x 2 columns]

In [226]:
#finding avg rating of each books
df.groupby('Book-Title').mean()['Book-Rating']

C:\Users\Nithin\AppData\Local\Temp\ipykernel_13868\3051929933.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Book-Title').mean()['Book-Rating']

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    2.250000
 Always Have Popsicles                                                                                        0.000000
 Apple Magic (The Collector's series)                                                                         0.000000
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         8.000000
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   0.000000
                                                                                                                ...
Ãƒ?Ã‚?lpiraten.                                                                                                 0.000000
Ãƒ?Ã‚?rger mit Produkt X. Roman.                                                                                5.250000
Ãƒ?Ã‚?sterlich leben.                                                                                           7.000000
Ãƒ?Ã‚?stlich der Berge.                                                                                         2.666667
Ãƒ?Ã‚?thique en toc                                                                                             4.000000
Name: Book-Rating, Length: 241066, dtype: float64

In [227]:
mean_of_rating_df = df.groupby('Book-Title').mean().reset_index()

C:\Users\Nithin\AppData\Local\Temp\ipykernel_13868\1348806911.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_of_rating_df = df.groupby('Book-Title').mean().reset_index()

In [228]:
mean_of_rating_df.rename(columns={'Book-Rating':'mean.of.ratings'},inplace=True)

In [229]:
mean_of_rating_df

                                               Book-Title  mean.of.ratings
0        A Light in the Storm: The Civil War Diary of ...         2.250000
1                                   Always Have Popsicles         0.000000
2                    Apple Magic (The Collector's series)         0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...         8.000000
4        Beyond IBM: Leadership Marketing and Finance ...         0.000000
...                                                   ...              ...
241061                                      Ãƒ?Ã‚?lpiraten.         0.000000
241062                     Ãƒ?Ã‚?rger mit Produkt X. Roman.         5.250000
241063                                Ãƒ?Ã‚?sterlich leben.         7.000000
241064                              Ãƒ?Ã‚?stlich der Berge.         2.666667
241065                                  Ãƒ?Ã‚?thique en toc         4.000000

[241066 rows x 2 columns]

In [230]:
popularity_df = num_of_rating_df.merge(mean_of_rating_df,on='Book-Title')

In [231]:
popularity_df['mean.of.ratings'] = round(popularity_df['mean.of.ratings'],2)

In [232]:
popularity_df

,Book-Title,no.of.ratings,mean.of.ratings
0,A Light in the Storm: The Civil War Diary of ...,4,2.25
1,Always Have Popsicles,1,0.00
2,Apple Magic (The Collector's series),1,0.00
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.00
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.00
...,...,...,...
241061,Ãƒ?Ã‚?lpiraten.,2,0.00
241062,Ãƒ?Ã‚?rger mit Produkt X. Roman.,4,5.25
241063,Ãƒ?Ã‚?sterlich leben.,1,7.00
241064,Ãƒ?Ã‚?stlich der Berge.,3,2.67
241065,Ãƒ?Ã‚?thique en toc,2,4.00

In [233]:
popularity_df.sort_values('no.of.ratings',ascending=False)

,Book-Title,no.of.ratings,mean.of.ratings
234946,Wild Animus,2502,1.02
196322,The Lovely Bones: A Novel,1295,4.47
183569,The Da Vinci Code,898,4.64
5303,A Painted House,838,3.23
199233,The Nanny Diaries: A Novel,828,3.53
...,...,...,...
147558,"Real Marriage Material (Silhouette Romance, No...",1,0.00
63663,Fabulous Fragrances II : A Guide to Prestige P...,1,10.00
147556,Real Love: The Truth About Finding Uncondition...,1,0.00
147555,Real Love: The Drawings for Sean,1,10.00
168796,Suburban backlash: The battle for the world's ...,1,0.00

In [234]:
popularity_df = popularity_df[popularity_df['no.of.ratings'] > 200]

In [235]:
popularity_df

,Book-Title,no.of.ratings,mean.of.ratings
764,1984,284,4.45
818,1st to Die: A Novel,509,3.58
1048,2nd Chance,356,3.27
1760,A Bend in the Road,346,3.36
2120,A Case of Need,236,2.42
...,...,...,...
234946,Wild Animus,2502,1.02
236329,Wish You Well,234,3.01
236719,Without Remorse,203,2.88
240408,Zen and the Art of Motorcycle Maintenance: An ...,210,3.15
240855,"\O\"" Is for Outlaw""",269,2.99

In [236]:
popularity_df = popularity_df.merge(df,on='Book-Title').drop_duplicates('Book-Title')

In [237]:
popularity_df.drop(columns=['Book-Rating'],inplace=True)

In [238]:
popularity_df.sort_values('mean.of.ratings',ascending=False).head(100)

,Book-Title,no.of.ratings,mean.of.ratings,Book-Author,Publisher,Image-URL-M
28697,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.85,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439136350.0...
27963,Harry Potter and the Goblet of Fire (Book 4),387,5.82,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439139597.0...
29125,Harry Potter and the Sorcerer's Stone (Book 1),278,5.74,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0590353403.0...
28350,Harry Potter and the Order of the Phoenix (Boo...,347,5.50,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/043935806X.0...
20862,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.41,Orson Scott Card,Tor Books,http://images.amazon.com/images/P/0312853238.0...
...,...,...,...,...,...,...
48346,She's Come Undone (Oprah's Book Club),468,3.57,Wally Lamb,Pocket,http://images.amazon.com/images/P/0671021001.0...
23223,Five Quarters of the Orange,207,3.57,Joanne Harris,Perennial,http://images.amazon.com/images/P/0060958022.0...
73898,The Notebook,650,3.56,Nicholas Sparks,Warner Books,http://images.amazon.com/images/P/0446605239.0...
84625,The Talisman,227,3.56,Stephen King,Berkley Publishing Group,http://images.amazon.com/images/P/0425105334.0...
33086,Interview with the Vampire,508,3.55,Anne Rice,Ballantine Books,http://images.amazon.com/images/P/0345337662.0...

# Collobrative based recomm.system

In [257]:
merge_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0
...,...,...,...,...,...,...,...,...,...,...
1031124,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,276463,7
1031125,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,276579,4
1031126,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,276680,0
1031127,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,276680,0
1031128,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,276680,0

In [258]:
df = merge_df.drop(columns=['ISBN','Year-Of-Publication','Image-URL-S','Image-URL-L'])

In [259]:
df.head()

,Book-Title,Book-Author,Publisher,Image-URL-M,User-ID,Book-Rating
0,Classical Mythology,Mark P. O. Morford,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,2,0
1,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,8,5
2,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [260]:
df['User-ID'].value_counts() #92106 unique users

11676     11144
198711     6456
153662     5814
98391      5777
35859      5646
          ...
51911         1
151772        1
158802        1
243672        1
259920        1
Name: User-ID, Length: 92106, dtype: int64

In [261]:
df.groupby('User-ID').count()

         Book-Title  Book-Author  Publisher  Image-URL-M  Book-Rating
User-ID
2                 1            1          1            1            1
8                17           17         17           17           17
9                 3            3          3            3            3
10                1            1          1            1            1
12                1            1          1            1            1
...             ...          ...        ...          ...          ...
278846            1            1          1            1            1
278849            4            4          4            4            4
278851           23           23         23           23           23
278852            1            1          1            1            1
278854            8            8          8            8            8

[92106 rows x 5 columns]

In [262]:
df.groupby('User-ID').count()['Book-Rating']

User-ID
2          1
8         17
9          3
10         1
12         1
          ..
278846     1
278849     4
278851    23
278852     1
278854     8
Name: Book-Rating, Length: 92106, dtype: int64

In [263]:
df.groupby('User-ID').count()['Book-Rating'] > 200

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [264]:
 x= df.groupby('User-ID').count()['Book-Rating'] > 200

In [265]:
x[x] #1648 users out of 92106 gave rating for more than 100 books

User-ID
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274308    True
275970    True
277427    True
277639    True
278418    True
Name: Book-Rating, Length: 811, dtype: bool

In [266]:
x[x].index

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

In [267]:
temp_df = x[x].index

In [268]:
df['User-ID'].isin(temp_df)

0          False
1          False
2          False
3           True
4          False
           ...
1031124    False
1031125    False
1031126    False
1031127    False
1031128    False
Name: User-ID, Length: 1031129, dtype: bool

In [269]:
df[df['User-ID'].isin(temp_df)]

,Book-Title,Book-Author,Publisher,Image-URL-M,User-ID,Book-Rating
3,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,8
6,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,85526,0
7,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,96054,0
10,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,177458,0
21,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,110912,10
...,...,...,...,...,...,...
1031117,Slow Food(The Case For Taste),Carlo Petrini,Columbia University Press,http://images.amazon.com/images/P/0231128444.0...,275970,0
1031118,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,University of California Press,http://images.amazon.com/images/P/0520242335.0...,275970,0
1031119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,Running Press Book Publishers,http://images.amazon.com/images/P/0762412119.0...,275970,0
1031120,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",Golden Guides from St. Martin's Press,http://images.amazon.com/images/P/1582380805.0...,275970,0
1031121,Cocktail Classics,David Biggs,Connaught,http://images.amazon.com/images/P/1845170423.0...,275970,7

In [270]:
filtered_on_bases_of_users_df = df[df['User-ID'].isin(temp_df)]

In [271]:
# 1031129 rows in 'merge_df' filtered to 591891 rows on the bases of users who rated for more than 100 books

In [272]:
filtered_on_bases_of_users_df

,Book-Title,Book-Author,Publisher,Image-URL-M,User-ID,Book-Rating
3,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,11676,8
6,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,85526,0
7,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,96054,0
10,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,177458,0
21,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,110912,10
...,...,...,...,...,...,...
1031117,Slow Food(The Case For Taste),Carlo Petrini,Columbia University Press,http://images.amazon.com/images/P/0231128444.0...,275970,0
1031118,Strong Democracy : Participatory Politics for ...,Benjamin R. Barber,University of California Press,http://images.amazon.com/images/P/0520242335.0...,275970,0
1031119,"Burpee Gardening Cyclopedia: A Concise, Up to ...",Allan Armitage,Running Press Book Publishers,http://images.amazon.com/images/P/0762412119.0...,275970,0
1031120,Tropical Rainforests: 230 Species in Full Colo...,"Allen M., Ph.D. Young",Golden Guides from St. Martin's Press,http://images.amazon.com/images/P/1582380805.0...,275970,0
1031121,Cocktail Classics,David Biggs,Connaught,http://images.amazon.com/images/P/1845170423.0...,275970,7

In [273]:
# filter on bases of popular books
filtered_on_bases_of_users_df.groupby('Book-Title').count()

,Book-Author,Publisher,Image-URL-M,User-ID,Book-Rating
Book-Title,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",2,2,2,2,2
Always Have Popsicles,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1
Clifford Visita El Hospital (Clifford El Gran Perro Colorado),1,1,1,1,1
...,...,...,...,...,...
Ãƒ?Ã‚?ber das Fernsehen.,2,2,2,2,2
Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den Staat.,3,3,3,3,3
Ãƒ?Ã‚?lpiraten.,1,1,1,1,1
Ãƒ?Ã‚?stlich der Berge.,1,1,1,1,1
Ãƒ?Ã‚?thique en toc,1,1,1,1,1

In [274]:
filtered_on_bases_of_users_df.groupby('Book-Title').count()['Book-Rating']

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    2
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                1
                                                                                                             ..
Ãƒ?Ã‚?ber das Fernsehen.                                                                                        2
Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den Staat.                                                           3
Ãƒ?Ã‚?lpiraten.                                                                                                 1
Ãƒ?Ã‚?stlich der Berge.                                                                                         1
Ãƒ?Ã‚?thique en toc                                                                                             1
Name: Book-Rating, Length: 155842, dtype: int64

In [275]:
filtered_on_bases_of_users_df.groupby('Book-Title').count()['Book-Rating'] > 50

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    False
 Always Have Popsicles                                                                                        False
 Apple Magic (The Collector's series)                                                                         False
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   False
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                False
                                                                                                              ...
Ãƒ?Ã‚?ber das Fernsehen.                                                                                        False
Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den Staat.                                                           False
Ãƒ?Ã‚?lpiraten.                                                                                                 False
Ãƒ?Ã‚?stlich der Berge.                                                                                         False
Ãƒ?Ã‚?thique en toc                                                                                             False
Name: Book-Rating, Length: 155842, dtype: bool

In [276]:
y = filtered_on_bases_of_users_df.groupby('Book-Title').count()['Book-Rating'] > 50

In [277]:
y[y]

Book-Title
1984                                                                 True
1st to Die: A Novel                                                  True
2nd Chance                                                           True
4 Blondes                                                            True
A Bend in the Road                                                   True
                                                                     ...
Year of Wonders                                                      True
You Belong To Me                                                     True
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values    True
Zoya                                                                 True
\O\" Is for Outlaw"                                                  True
Name: Book-Rating, Length: 679, dtype: bool

In [278]:
y[y].index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=679)

In [279]:
temp_df = y[y].index

In [281]:
final_df = filtered_on_bases_of_users_df[filtered_on_bases_of_users_df['Book-Title'].isin(temp_df)]

In [282]:
final_df

,Book-Title,Book-Author,Publisher,Image-URL-M,User-ID,Book-Rating
31,The Kitchen God's Wife,Amy Tan,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,The Kitchen God's Wife,Amy Tan,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,The Kitchen God's Wife,Amy Tan,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,The Kitchen God's Wife,Amy Tan,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,The Kitchen God's Wife,Amy Tan,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...
1028407,Echoes,Nancy Morse,Meteor Publishing Corporation,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028593,I Know Why the Caged Bird Sings,Maya Angelou,Random House,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028595,The Promise,CHAIM POTOK,Ballantine Books,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028808,The Pillars of the Earth,Ken Follett,Encore,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028810,The Handmaid's Tale,Margaret Atwood,Chivers Audio Books,http://images.amazon.com/images/P/0745168086.0...,240144,0

In [285]:
pt = final_df.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [287]:
pt #679 books & 810 users

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [288]:
pt.fillna(0,inplace=True)

In [289]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [290]:
# each books represented as a vector in 810 dimensional space.

In [291]:
from sklearn.metrics.pairwise import cosine_similarity